@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    
    font-family: "Mulish", sans-serif;

}
*{
    margin: 0;
}
/* default styles */
.tittle{
font-size: 2rem;
font-weight: 800;
}
span{
    color: rgb(255, 84, 0);
}
p,li{
font-size: 16px;
font-weight: 400;
text-align: center;
}
.heading-content{
font-size: 40px;
font-weight: 800;
justify-content: center;
align-items: center;
text-align: center;
}
/* navbar styles start */
.nav-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin:  80px auto;
    align-items: center;
}
.container{
    width: 90%;
    
    justify-content: space-between;
    margin:  5rem auto;
    align-items: center;
}
.logo{
    display: flex;
}
/* .logo img{
    margin-right:16px ;
} */
.navbar{
    display: flex;
   justify-content: space-around;
gap: 44px;
    align-items: center;  
}
.navbar p{
font-size: 18px;
font-weight: 400;
}
/* navbar styles ends*/
/* explore section start */
.Explore-travel-container{
  



  background-image:
  linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),
  url(../Images/Group\ 13\ \(1\)\ \(1\).png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding:  7rem 0;
  border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.Explore-travel-container h3{
font-size: 64px;
font-weight: 800;
line-height: 80px;
color:rgb(255, 255, 255) ;


}
.Explore-travel-container p{
    color: rgb(255, 255, 255);
   padding: 1.5rem 0;
   margin: auto;
   
}
.travel-inputs{
    margin-top:2rem ;
    border-radius: 8px;

background: rgba(255, 255, 255, 0.3);
padding: 1rem;
display: flex;
justify-content: space-around;
align-items: center;
backdrop-filter: blur(2px);
}
input,select{
width: 170px;
height: 50px;
border-radius: 8px;
padding: 0 auto;
background: rgb(255, 255, 255);
color: rgba(19, 19, 24, 0.5);
}
.btn-primaryfind{
width: 174px;
height: 52px;

border-radius: 8px;
color: rgb(255, 255, 255);
background: rgb(255, 84, 0);
}
.btn-primary{
    width: 174px;
    height: 52px;
font-size: 18px;
font-weight: 400;
border-radius: 8px;
color: rgb(255, 255, 255);
background: rgb(255, 84, 0);
}
/* popular tour style */
.popular-tours img{
    width: 100%;
    height: 100%;
}
.popular-tours{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3rem;
}
.popular-container {
  
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}
.popular-container p,
.popular-container li
{
    text-align: left;
    font-size: 16px;
font-weight: 400;
color: rgba(19, 19, 24, 0.7);
}
/* chooce your destination  */
.your-destination img{
width: 100%;
height: 300px;
}
.row-1,
.row-2,
.row-3{
display: grid;
grid-template-columns: 1fr 1fr ;
margin: 1rem 0;
gap: 1rem;
}
.row-2{
    grid-template-columns: 0.75fr 1fr 0.60fr;
}
.country-card{
    position: relative;
}
.country{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
font-weight: 800;
color: rgb(255, 255, 255);
transform: translate(-50%, -50%);
}
/* footer styles */
.footer-section{
     background: rgba(19, 19, 24, 0.05);
    padding: 2rem 0;
}
.footer-section .logo{
    margin: 2rem auto;
  justify-content: center;
    
}
.social{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}
.social i{

height: 21.57px;
font-size: 24px;
}
.footer-section hr{
    margin: 2rem auto;
}
/* responsive design */
@media screen and (max-width:600px) {
    h3{
        font-size: 26px;
    }
    p{
        font-size:16px ;
    }
    .navbar{
        display: none;
   
    }
    .container{
        margin: 3rem auto;
    }
    .Explore-travel-container h3{
        font-size: 26px;
    }
    .Explore-travel-container p{
        width: 60%;
  text-align: center;
  line-height: normal;
        
    }
    
    .travel-inputs{
        flex-direction: column;
        width: 70%;
        margin: auto;
    }
    .travel-inputs input,
    .travel-inputs select,
    .travel-inputs button{
        width: 100%;
        margin: 1rem 0;
    }
    .popular-tours, .row-1,.row-2,.row-3{
        grid-template-columns: 1fr;
    }
}